*.xz
*.bz2
*.xml
/data
/scripts/__pycache__
scripts/test.py
/scripts/tokenizer/__pycache__
/scripts/data_pipeline/__pycache__
/scripts/tambert.egg-info
/scripts/tokenizer/core/__pycache__
train_log.txt
/.venv
*.pt
/mlm/*/checkpoint-*
/mlm/*/final
.claude/settings.json
