--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1+cu121
beautifulsoup4
lxml
matplotlib
numpy
pandas
pybloom-live
regex
requests
scipy
tqdm
grapheme
tokenizers
datasets
transformers[torch]